<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h2>About</h2>
        A Team:
        <ul>
            <li>Fredrik Ryberg</li>
            <li>Mikael Jansson</li>
            <li>Rasmus Olofsson</li>
            <li>Joel Chowdhury</li>
            <li>Jonatan Forsberg</li>
            <li>Simon Haga</li>
        </ul>
    </body>
</html>
