<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Rules</h2>
        <p>
            There can be up to 5 players per map, and each player can kill monsters, pick up potions, or kill each other. Potions will respawn every 30 seconds, and each 15 seconds a monster will spawn, which will walk around the map. When a player dies it will respawn in a random empty spot.
        </p>
    </body>
</html>
