<!DOCTYPE html>
<html>
    <head>
        <title>Stats</title>
    </head>
    <body>
        <h2>Stats</h2>
        <ul>
            @foreach (var stat in Service.db.Stat) {
                <li>@stat.Name: @stat.Value</li>
            }
        </ul>
    </body>
</html>
